<article class="block contact-block clearfix">
    {{ form_start(form) }}

    <p class="center">Write us a message by filling the form below. Thank you.</p>

    {% if mailSent %}
        <div class="alert alert-success" role="alert">
            {{ mailSent }}
        </div>
    {% endif %}

    {% if form_errors(form) %}
        {{ form_errors(form) }}
    {% endif %}

    {{ form_widget(form.subject, {'attr': {'class': 'm-b'}}) }}
    {{ form_widget(form.name, {'attr': {'class': 'm-b'}}) }}
    {{ form_widget(form.email, {'attr': {'class': 'm-b'}}) }}
    {{ form_widget(form.company, {'attr': {'class': 'm-b'}}) }}

    {{ form_widget(form.captcha.captcha, {'attr': {'class': 'm-b'}}) }}

    {{ form_widget(form.message, {'attr': {'class': 'm-b'}}) }}

    {{ form_widget(form.submit, {'label': "Envoyer le message"}) }}

    {{ form_end(form) }}

</article>
